body{
  background-image: url("../images/b.jpg");
  background-size: cover;
	padding: 5% 10%;
}
*{
	font-family: sans-serif;
}
#container {
	height:70vh;
  	background-color: white;
}
#timer{
	margin-left: 30%;
	display: inline-block;
	position: absolute;
}
#score img{
	margin: 20px;
	max-height: 30px;
}
#score{
	display: inline-block;
}
#levens img{
	margin: 5px;
	max-height: 70px;
}
#levens{
	display: inline-block;
	float: right;
}
.friet {
	width: 40px;
	height: 90px;
	background: url("../images/friet.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}
#image1{
	z-index: 99;
}
#noob{
	width: 100%;
	height: 10px;
	background-color: green;
}
/* AARS */
